.header__top {
  background-color: #020e29;
  /*
  shorhand for margin and padding:
    margin: 0; // top right bottom left
    margin: 0 0; // top-bottom left-right
    margin: 0 0 0; // top left-right bottom
    margin: 0 0 0 0; // top right bottom left
  */
}

.header__top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top a {
  border: none;
  padding: 11px 20px;
  cursor: pointer;
  background-color: #fe5e15;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}

.header__info {
  display: flex;
  color: #d5d5d5;
  font-size: 15px;
  justify-content: space-between;
  column-gap: 20px;
}

.header__info div {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

/* PSEUDOCODE */

/* width = content + margin-left + margin-right + padding-left + padding-right + border-left + border-right */

/* .lorem,
.ipsum {
  float: left;
}

.lorem {
  width: calc(50% - 110px);
  padding-left: 50px;
  padding-right: 50px;
  border: 5px solid red;
  background-color: #000;
  color: #fff;
}

.ipsum {
  width: 50%;
} */

/* footer {
  background-color: yellow;
} */

.main-nav > ul {
  display: flex;
  list-style: none;
  column-gap: 20px;
}

.main-nav ul ul {
  display: none;
  list-style: none;
  position: absolute;
  background-color: orangered;
}

.main-nav ul ul a {
  color: black;
}

.main-nav li:hover ul {
  display: block;
}

.main-nav ul ul li a {
  padding: 5px 25px 5px 5px;
}

.main-nav ul ul li:hover a {
  background-color: green;
  color: white;
}
