* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #888;
  font-size: 16px;
  line-height: 28px;
}

p {
  margin-bottom: 15px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.icon {
  width: 18px;
  height: 18px;
}
